<!DOCTYPE html>
<html lang="es">
<head>
    <style>.heading{color: white}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Clima</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .historial {
            display: none;
        }
    </style>
    <script>
        function validarCiudad() {
            var ciudadInput = document.getElementById('ciudad');
            var ciudad = ciudadInput.value;
            var regex = /^[a-zA-Z\s]+$/;
            if (!regex.test(ciudad)) {
                alert('El nombre de la ciudad no puede contener números.');
                ciudadInput.value = '';
                return false;
            }
            return true;
        }
    </script>
</head>
<body bgcolor="0f0f0f" text="white">
    <center>
    <img src="{{ url_for('static', filename='img/image.png') }}" alt="Imagen de Clima" style="width:10%; height:auto;">
    <h1 class="heading">Consulta de Clima</h1>
    <form action="/seleccionar_tipo" method="post">
        <label for="tipo">Tipo de Consulta:</label>
        <select id="tipo" name="tipo" required>
            <option value="clima_actual">Clima Actual</option>
            <option value="pronostico">Pronóstico</option>
        </select>
        <button type="submit">Seleccionar</button>
    </form>

    <button id="toggleHistorial">Mostrar/Ocultar Historial</button>
    <div id="historialContainer" class="historial">
        <h2>Historial de Consultas</h2>
        <ul>
            {% for consulta in historial %}
                <li>{{ consulta }}</li>
            {% endfor %}
        </ul>
    </div>

    <script>
        document.getElementById('toggleHistorial').addEventListener('click', function() {
            var historialContainer = document.getElementById('historialContainer');
            if (historialContainer.style.display === 'none' || historialContainer.style.display === '') {
                historialContainer.style.display = 'block';
            } else {
                historialContainer.style.display = 'none';
            }
        });
    </script>
    </center>
</body>
</html>
